* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 24px;
	background-color: #d9e7ee;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
	list-style-type: none;
}

form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 20px;
	width: 75%;
	margin: 0 auto;
	border: 1px solid #004282;
}

button {
	background-color: #004282;
	border: 0;
	color: white;
	border-radius: 4px;
	width: 120px;
	height: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 5px 20px #7c7e7f;
}

button:hover {
	background-color: #54d226;
}

input {
	border: none;
	border-radius: 4px;
	box-shadow: 0 5px 20px #7c7e7f;
	padding: 6px;
	height: 40px;
	min-width: 300px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.list {
	margin-top: 20px;
	min-height: 100px;
	background-color: #004282;
	padding: 10px;
	border-radius: 6px;
	box-shadow: 0 5px 20px #7c7e7f;
}

.list-item {
	cursor: pointer;
	padding: 8px;
	background-color: #d9e7ee;
	margin-top: 8px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.completed {
	background-color: #54d226;
	font-weight: bold;
}
.completed p {
	text-decoration: line-through;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
	pointer-events: none;
}

.skeleton {
	color: #54d226;
	font-weight: bold;
	background-color: white;
}

.list-item p {
	word-wrap: break-word;
	max-width: 800px;
}

.errors {
	color: red;
	font-size: 14px;
}

#loader {
	color: #54d226;
	font-size: 20px;
	font-weight: bold;
}
